
html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

.footer {
  background: linear-gradient(to top, #008500, #5A9A00); 
  color: #ecf0f1; 
  font-family: "Nunito", sans-serif; 
  padding: 15px 30px; 
}

.footer-top {
  text-align: center;
  margin-bottom: 30px;
}

.footer-logo {
  width: 200px;
}

.footer-middle {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
  gap: 20px; 
}

.footer-col {
  flex: 1;
  min-width: 220px; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
}

.footer-left a,
.footer-center a,
.footer-right a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 14px;
}

.footer-left a:hover,
.footer-center a:hover,
.footer-right a:hover {
  color: #2C3E50;
  text-decoration: underline;
}

.footer-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-social-title {
  margin-top: 15px;
  font-weight: 600;
}

.social-icons {
  display: flex;
  gap: 15px; 
}

.social-icons a {
  color: #ecf0f1;
  font-size: 22px;
  transition: color 0.3s ease; 
}

.social-icons a:hover {
  color: #2C3E50;
}

.sponsor-logos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; 
  justify-content: center; 
  flex-direction: column;
  align-items: center;
}

.sponsor-logos img {
  width: 150px; 
  height: auto;
  object-fit: contain;
  margin: 10px; 
}

.logo-adidas {
  width: 100px; 
  height: auto; 
  display: block; 
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  color: #ffffff;
}
