.unionSuave1 {
  height: 10px;
  background: linear-gradient(to bottom, #8b99a8, #2c3e50);
}
.unionSuave2 {
  height: 10px;
  background: linear-gradient(to bottom, #2c3e50, #8b99a8);
}
.googleMap {
  display: block;
  width: 100%;
  height: 100%;
}
